---
layout: layout.liquid
title: Home - The Galactic Traveler
---

<h1>Welcome to the Galactic Traveler!</h1>
<p> We are proud to be the longest running galactic travel blog in the history of the known universe! Check out Reginald's
latest escapades and adventures below: </p>
<ul>
    <li><a href="/europa/" title="Go to post">Ice Fishing on Europa</a></li>
    <li><a href="/venus/" title="Go to post">A Venus Jungle Safari</a></li>
</ul>


