---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to the Galactic Traveler</h1>
<a href="/europa/" title="Go to post">Ice Fishing on Europa</a>
<a href="/venus/" title="Go to post">A Venus Jungle Safari</a>
