---
layout: layout.liquid
title: Home - The Galactic Traveler
---

<h1>Welcome to the Galactic Traveler!</h1>
<p> We are proud to be the longest running galactic travel blog in the history of the known universe! Check out Reginald's
latest escapades and adventures below: </p>
<ul>
    <li><h2><a href="/europa/" title="Go to post">Ice Fishing on Europa</a></h2><p>Join Reginald as he plunders
    the depths of Europa for his bestial bounty!</p></li>
    <li><h2><a href="/venus/" title="Go to post">A Venus Jungle Safari</a></h2><p>Reginald might be in over his head
    as he tracks the elusive Venusian Lynx!</p></li>
</ul>


